body {
  background-color: white;
}

.title {
  color: Black;
  font-family: sans-serif;

}

.narrative {
  color: #636363;
  font-family:sans-serif;

}

svg {
  padding: 50px 50px 50px 30px;
}

#popularLoc { border: solid #ccc 1px; }
